* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
}

.perros-random{
    display: flex;
    flex-direction: column;
}
.perros-random > div{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

.perros-fav-images{
    display: flex;
    margin: 30px;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.perros-fav-images > div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}