* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid tomato; */
}

.perros-random{
    display: flex;
    flex-direction: column;
}
.perros-random > div{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}